{% extends "base.html" %}

{% block topbar %}

  <!-- By passing a valid access token here, we are able to display -->
  <!-- the user's images without having to download or prepare -->
  <!-- them ahead of time -->
  <p id="picture" style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{token}})"></p>

  <div>
    <h1>Welcome, <strong>{{me.name}}</strong></h1>
    <p class="tagline">
      <a href="/suggestion/new"> New suggestion</a><br>
       suggestions:
    </p>
  </div>

{% endblock %}
 <div>
	{% block content %}
	{{ content }}
	<br>
	{% for suggestion in suggestions %}
		<br> <a href="/suggestion/{{ suggestion.id }}">{{ suggestion.title }}</a><br>
	{% endfor %}
	{% endblock%}
</div>