{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="/static/jquery.shorten.js"></script>
{% endblock %}
{% block topbar %}

  <div>
    Welcome, <strong>{{me.name}}</strong><br>
      <a href="/suggestion/new"> New suggestion</a><br>
  </div>

{% endblock %}
{% block content %}
  <p>
    <div>
	suggestions:
	{{ content }}
	<br>
	{% for suggestion in suggestions %}
	<div class="suggestion">	
		<br> <a href="/suggestion/{{ suggestion.id }}">{{ suggestion.title }}</a><br>
	</div>
	{% endfor %}
<script language="javascript">
$(document).ready(function() {

$(".suggestion").shorten({showChars: 100});

 });
 $(".allcontent").hide();
</script>
</div>
  <p>

{% endblock%}