{% extends "base.html" %}

{% block topbar %}

  <div>
    Welcome, <strong>{{me.name}}</strong><br>
      <a href="/suggestion/new"> New suggestion</a><br>
  </div>

{% endblock %}
{% block content %}
  <p>
    <div>
	suggestions:
	{{ content }}
	<br>
	<style type="text/css">
		a.morelink {
	    text-decoration:none;
	    outline: none;
		}
		.morecontent span {
	    display: none;
		}
	</style>
	{% for suggestion in suggestions %}
	<div class="suggestion more">	
		<br> <a href="/suggestion/{{ suggestion.id }}">{{ suggestion.title }}</a><br>
	</div>
	{% endfor %}
	<script type="text/javascript">
		$(document).ready(function() {
		    var showChar = 100;
		    var ellipsestext = "...";
		    var moretext = "more";
		    var lesstext = "less";
		    $('.more').each(function() {
		        var content = $(this).html();
		 
		        if(content.length > showChar) {
		 
		            var c = content.substr(0, showChar);
		            var h = content.substr(showChar-1, content.length - showChar);
		 
		            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
		 
		            $(this).html(html);
		        }
		 
		    });
		 
		    $(".morelink").click(function(){
		        if($(this).hasClass("less")) {
		            $(this).removeClass("less");
		            $(this).html(moretext);
		        } else {
		            $(this).addClass("less");
		            $(this).html(lesstext);
		        }
		        $(this).parent().prev().toggle();
		        $(this).prev().toggle();
		        return false;
		    });
		});	
	</script>
    </div>
  <p>

{% endblock%}